<div class="{{vm.containerFieldClass}}" >


    <label class="{{vm.labelClass}}" for="{{vm.name}}">
        {{vm.labelTitle}}<span ng-show="vm.required"
                            class="required-fields">&nbsp;*</span>
    </label>

    <div class="col-sm-9"
         ng-class="{'has-error':vm.field.$invalid  && vm.form.submitted}">
         <div class="row">
            <div class="{{vm.containerInputClass}}">
                <div ng-transclude>
                        <!-- input goes here !-->
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.helpTranslateId != ''">
            <div class="col-sm-9">
                <p class="help-block" translate="{{vm.helpTranslateId}}">

                </p>
            </div>
        </div>
        <div class="row">
            <div ng-show="vm.field.$invalid  && vm.form.submitted" class="col-sm-9">
                <p class="help-block" ng-show="vm.field.$error.required && !vm.field.$error.number">{{vm.errorMessages.required}}</p>
                <p class="help-block" ng-show="vm.field.$error.maxlength">{{vm.errorMessages.maxlength}}</p>
                <p class="help-block" ng-show="vm.field.$error.number">{{vm.errorMessages.number}}</p>
            </div>
        </div>
    </div>



</div>
